body{
    color:purple;
    background: blue ;
    margin: 0px;
    font-family: "Permanent Marker", sans-serif;
}
header{
    border-bottom: solid 2px red;
    padding: 20px;
    font-size: 32px;
    color:chocolate;
}

.chamada{
    background: white;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria-videos{
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}