body{
    color:rgb(150, 239, 245);
    background:rgb(212, 119, 32);
    margin: 0px;
    font-family: "Ewert", sans-serif;
    margin-bottom: 100px;
}
header{
    border-bottom: solid 5px rgb(64, 189, 14);
    padding: 20px;
    font-size: 32px ;
    color: rgb(31, 118, 201);
}

.chamada{ 
    background: rgb(11, 197, 230);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamado-texto{ 
 margin-right: 5%;
 }
 h1{
    font-size: 40px;
 }
 p{
    font-size: 20px;
 }
 
 .categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 10px;
 }
 .categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
 }

 .categoria-videos img{
   opacity: 0.5;
   height: 200px;
 }
 .categoria-videos img:hover{
   opacity: 1.0;
   border:1px solid rgb(22, 80, 167);
 }
  .categoria h2{
 color: rgba(110, 11, 192, 0.397)
 }


