body{
    color: green;
    background: rgb(229, 240, 24);
    margin: 0px;
    font-family: "Permanent Marker", sans-serif;
}
header{
    border-bottom: solid 2px rgb(0, 38, 255);
    padding: 20px;
    font-size: 32px;
    color:chocolate;
}

.chamada{
    background: white;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}